:root {
	--color-brand: #2b7;
	--color-brand-secondary: #177;
	--color-background: #fff;
	--color-foreground: #000;
	--color-link: var(--color-background);
	--color-logo: var(--color-background);
	--color-logo-shadow: var(--color-foreground);
}

html {
	background-color: var(--color-brand);
	font-size: 2vw;
}

body {
	font-family: monospace;
	margin: 0;
}

main {
	align-items: center;
	background-color: var(--color-brand);
	background-image: linear-gradient(
		var(--color-brand),
		var(--color-brand-secondary)
	);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	text-align: center;
	width: 100%;
}

svg {
	height: 10vw;
	margin-bottom: 2rem;
	width: 80vw;
}

nav {
	align-items: center;
	animation-delay: 0.8s;
	display: flex;
	font-size: 100%;
	justify-content: space-around;
	margin: 0 auto;
}

nav a {
	border-radius: 1.5rem;
	color: var(--color-link);
	font-weight: 700;
	margin: 0.2rem 1rem;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	outline: none;
	text-decoration: underline;
}

aside {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
}

aside a {
	outline: none;
	overflow: hidden;
}

aside a img {
	transform: scale3d(1, 1, 1);
	transition: transform 0.2s ease-in-out;
	will-change: transform;
}

aside a:focus img,
aside a:hover img {
	transform: scale3d(1.1, 1.1, 1.1);
}

aside img {
	vertical-align: bottom;
	width: 100%;
}

#logo {
	stroke: var(--color-logo);
}

#shadow {
	stroke: var(--color-logo-shadow);
}

@media (max-width: 800px) {
	aside {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	nav {
		flex-direction: column;
	}
	nav a {
		font-size: 2.5rem;
		margin: 2rem 0;
	}
}
